@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

$color-gray: #f3f3f3;
$color-darkgray: #d1d1d1;
$color-dark: rgb(68, 68, 68);
$color-blue: #47aeeb;
$font-family: "Montserrat", sans-serif;

body {
  font-family: $font-family;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  background-color: $color-blue;
  margin-bottom: 30px;

  .header-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;

    a {
      color: #fff;
      font-size: 16px;
      font-weight: 500;

      &:first-child {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

.search-filter {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 10px 15px;
  width: 30%;
  font-family: $font-family;
  border: 2px solid $color-darkgray;
  border-radius: 5px;
  margin-left: 20px;

  &:focus,
  &:active {
    border-color: $color-blue;
  }
}

.btn-add {
  font-family: $font-family;
  background-color: $color-blue;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;
  padding: 4px 9px;
  cursor: pointer;

  &:disabled {
    background-color: transparent;
    color: $color-blue;
  }
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;

  .table-row {
    display: contents;
  }

  thead {
    box-shadow: 0px 2px 0 $color-gray;
    th {
      padding: 15px 5px;
      text-align: left;
      cursor: pointer;
    }
  }
  tbody {
    tr {
      &:nth-child(2n + 1) {
        background-color: $color-gray;
      }
      td {
        padding: 10px 7px;

        .btn-add {
          margin: 0 auto;
          display: block;
        }
        span {
          color: $color-dark;
          font-weight: 500;
          margin-left: 10px;
        }
      }
      .table-img {
        width: 5%;
        img {
          width: 100%;
        }
      }
      a {
        font-weight: 600;
        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}

.book {
  display: flex;
  justify-content: flex-start;

  .details {
    margin-left: 20px;
  }
}

.cart-total {
  td {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  span {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}
